#bg {color: white; 
	 font-family:Source Sans Pro;
	 text-align:center;
	}

    }

.container{
	text-align:right;
	margin-top:500px;
	
}
.btn{
	border: 1px solid #fff;
	background:none;
	padding:10px 20px;
	font-size: 20px;
	font-family:"montserrat";
	cursor:pointer;
	margin: 10px;
	transition:0.5s;
	position:relative;
	overflow:hidden;
}
.btn1{
	color: #fff;
	
}
.btn1:hover{
	color:#000000;
    
	
}
.btn::before{
	content: "";
	position:absolute;
	left:0;
	width:100%;
	height:0%;
	background: #fff;
	z-index: -1;
	transition:0.5s;
}
.btn1::before{
	bottom:0;
	border-radius:50% 50% 0 0;
}
.btn1:hover::before{
	height:180%;
	
}